<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="sta.core">

    <uses-sdk android:minSdkVersion="18" android:targetSdkVersion="21" android:maxSdkVersion="21"/>

    <!-- launch at boot -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <application android:installLocation="internalOnly">
        <service android:name="sta.services.STAService" />
        <receiver android:name="sta.services.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

    <!-- actions -->

    <!-- triggers -->

    <application />
</manifest>