<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="sta.core">

    <uses-sdk android:minSdkVersion="18" android:targetSdkVersion="21" android:maxSdkVersion="21"/>

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!--<uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />-->
    <!--<uses-permission android:name="android.permission.READ_LOGS" />-->

    <application>
    </application>
</manifest>