<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="sta.tests">

    <uses-sdk android:minSdkVersion="18" android:targetSdkVersion="21" android:maxSdkVersion="21" />

    <application>
        <activity android:name=".BenchmarkActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
    </application>
</manifest>